
.button{
    background-color: #0f7ae5;
    color: whitesmoke;
    padding-inline: 1rem ;
    padding-block: 0.5rem;
    border-radius: 5px;

    text-align: center;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
}